body {
	color: #E3D7BF;
	font: 300 16px/1.5 "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue", sans-serif;
	background-color: #232927;
	text-align: center;
}

#logo {
	position:relative;
	margin-top:10%;
}

#slogan {
}

#contact {
}